.buildControls{
    text-align: center;
    width: 100%;
    background: orangered;
    display:flex;
    flex-flow:column;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    margin:auto;
    padding:1rem 0;

}
.price{font-size: 2rem}